<!DOCTYPE html>
<html>
<head>
    <title>Image Captioning</title>
</head>
<body>
    <h2>Upload Image</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>
    

    <br><b>{{Error}}</b>

    <h2>Predicted Captions</h2>
    <div id="caption-results">
        <!-- Predicted captions will be displayed here -->

        <form action="/predict" method="GET" enctype="multipart/form-data">
            <input type="submit" value="predict">
            
            {{captions}}
        </form>

        <br><br>
        <h1>For PLaying Audio press Audio button</h1>
        <form action="/play" method="GET">
            <input type="submit" value="play">
            

        </form>
        <img src="{{image_path}}" alt="">
    </div>
</body>
</html>